.section-specilty {
    height: 390px;
    background-color: white;
    // border: 1px solid red;

    .specilty-container {
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        background-color: white;

        .specilty-header {
            height: 60px;
            // background-color: blue;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .specilty-header-body {
                display: flex;
                justify-content: space-between;
                width: 100%;

                span {
                    font-size: x-large;
                    font-weight: 600;
                    height: 40px;
                    // background-color: aqua;
                }

                button {
                    border: none;
                    width: 90px;
                    height: 40px;
                    margin-right: 20px;

                    &:hover {
                        background-color: darkgrey;

                    }
                }


            }

        }

        .img-customize {
            // border: 1px solid blue;
            height: 300px;
        }
    }
}

.slick-prev {
    border: #d7d7d7 !important;
    left: -15px !important;
    z-index: 1000 !important;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50px;
    background-color: gainsboro !important;
}

.slick-next {
    background-color: gainsboro !important;
    right: 0px !important;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50px;
}

.img-customize {
    img {
        height: 250px;
        width: 430px;
        // margin-right: 20px !important;
    }
}