// .home-header-container .home-header-content .left-content .header-logo .logo-img {
//     height: 60px;
//     width: 160px;
// }
.home-header-container {
    height: 90px;
    width: 100%;
    padding: 0 20px;
    background: white;
    z-index: 2000;
    position: fixed;
    top: 0px;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 5px;


        .left-content {
            // width: 15%;
            // background: #49bce2;
            display: flex;
            align-items: center;

            i {
                font-size: 25px;
            }

            .header-logo {
                margin-right: 10px;

                // background-color: aqua;
                .logo-img {}
            }
        }

        .center-content {
            margin-left: 20px;
            // background-color: chartreuse;

            // width: 55%;
            // border: 1px solid green;
            display: flex;
            gap: 40px;
            justify-content: space-between;
            align-items: center;

            .child-content {
                // width: 25%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                b {
                    font-weight: bold;
                }

                &:hover {
                    background-color: gainsboro;
                    border-radius: 90px;
                }
            }
        }

        .right-content {
            width: 25%;
            // border: 1px solid yellow;
            // background-color: chocolate;

            display: flex;
            align-items: center;
            justify-content: center;
            color: black;

            i {
                margin-right: 10px;
            }

            .support {
                padding-right: 30px;
                cursor: pointer;

            }

            .language-vi {
                cursor: pointer;

                // opacity: 0.2;
                &.active {
                    span {
                        // opacity: 1;
                        color: #49bce2;
                    }
                }

                &:hover {
                    opacity: 0.2;

                }
            }

            .language-en {
                margin: 0 10px;
                cursor: pointer;

                // opacity: 0.2;
                &.active {
                    span {
                        // opacity: 1;
                        color: #49bce2;
                    }
                }

                &:hover {
                    opacity: 0.2;
                }
            }
        }
    }
}

.home-header-banner {
    margin-top: 30px;
    background: url('../../assets//images/bg3.jpg') center center no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 15px;
    position: relative;

    .banner-content {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
        position: absolute;
        display: flex;
        flex-direction: column;

        .content-up {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-top: 30px;

            .title1 {
                font-size: 40px;
                color: aliceblue;
                text-shadow: 1px 1px 1px black;
                margin-bottom: 15px;
            }

            .title2 {
                color: aliceblue;
                font-size: 40px;
                text-shadow: 1px 1px 1px black;
            }

            .search1 {
                margin-top: 30px;
                width: fit-content;
                padding: 15px;
                width: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                background: white;
                gap: 5px;

                i {
                    font-size: medium;
                }

                input {
                    height: 100%;
                    width: 100%;
                    border: none;
                    background: transparent;
                    outline: none;
                }
            }
        }

        .content-down {
            // border: 1px solid red;
            // background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
            width: 100%;
            // height: 20%;
            display: flex;
            align-items: end;
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

            .option {
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding-bottom: 15px;

                .option-child {
                    width: 130px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .icon-child {
                        background-color: white;
                        color: #49bce2;
                        font-size: xx-large;
                        width: 60px;
                        padding: 10px;
                        border-radius: 50%;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            color: white;
                            background-color: #49bce2;
                        }
                    }

                    .text-child {
                        color: black;
                        font-size: 20px;
                        font-weight: 600px;
                        cursor: pointer;

                        &:hover {
                            color: #49bce2;
                        }
                    }
                }
            }
        }

    }



}

// .section1 {
//     background-color: #49bce2;
//     // width: 100%;
//     // height: 100%;
// }